@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}